<ol class="transit" id="itinerary">
{{#legs}}
    {{#is_transit}}
        <div class="step-number"><span>{{leg_num}}</span></div>
        {{mode}}
    {{/is_transit}}

    {{#is_walk}}
        <div class="step-number"><span>{{leg_num}}</span></div>
        {{mode}}
    {{/is_walk}}
{{/legs}}
</ol>