{{#is_board}}
    <li>
        <div class="step-number"><span>{{leg_num}}</span></div>
    </li>
{{/is_board}}


{{#is_alight}}alight{{/is_alight}}

{{#is_stay_on_board}}stay on board{{/is_stay_on_board}}

{{#is_walk_goto}}walk goto{{/is_walk_goto}}

{{#is_walk_steps}}walk steps{{/is_walk_steps}}

{{#is_bike_goto}}bike goto{{/is_bike_goto}}

{{#is_bike_steps}}bike steps{{/is_bike_steps}}



