
{{#is_transit}}
    <li>
        <div class="step-number"><span>{{leg_num}}</span></div>
    </li>
{{/is_transit}}

{{#is_walk}}
    <li>
        <div class="step-number"><span>{{leg_num}}</span></div>
        {{mode}}
        <p class="directions">
            Go to
            <a title="Show more information about this stop/station" href="">SW Sam Jackson Pk &amp; OHSU</a>
            <span class="stopid">Stop ID&nbsp;5028</span>
        </p>
        <div class="normal">
            <div class="description"></div>
        </div>
    </li>
{{/is_walk}}


<li>
    <div class="step-number"><span>1</span></div>
    <p class="directions">
        Go to
        <a title="Show more information about this stop/station" href="stop.html?stop_id=5028&amp;month=12&amp;day=11">SW Sam Jackson Pk &amp; OHSU</a>
        <span class="stopid">Stop ID&nbsp;5028</span>
    </p>
    <div class="normal">
        <div class="description"></div><!-- end .description -->
    </div><!-- end .normal/hidden walking directions -->
</li>

<li>
    <div class="step-number"><span>2</span></div>
    <p class="directions">


        <a class="step-time" title="Show schedule for SW Sam Jackson Pk &amp; OHSU" href="stop_schedule.html?stop_id=5028&amp;route=8&amp;month=12&amp;day=11"><span> 12:50pm</span></a> Board <a class="step-mode" title="Show route map and schedules for this line" href="http://trimet.org/schedules/r008.htm"><img width="0" height="1" class="
step-bus-icon" src="/images/triptools/modes.png">8-Jackson Park/NE 15th to NE Dekum via City Center</a>

    </p>
</li>

<li>
    <div class="step-number"><span>3</span></div>
    <p><a class="step-time" title="Show schedule for SW 6th &amp; Alder" href="stop_schedule.html?stop_id=7747&amp;route=8&amp;month=12&amp;day=11"><span>1:05pm</span></a> Get off at <a title="Show more information about this stop" href="stop.html?stop_id=7747&amp;month=12&amp;day=11">SW 6th &amp; Alder</a> <span class="stopid">Stop ID&nbsp;7747</span></p>
</li>




<li>
    <div class="step-number"><span>4</span></div>
    <p class="directions">


        Walk 465 feet to
        <a title="Show more information about this stop/station" href="stop.html?stop_id=8383&amp;month=12&amp;day=11">Pioneer Square North MAX Station</a>
        <span class="stopid">Stop ID&nbsp;8383</span>
    </p>

    <div class="normal"><!-- hidden walking directions and map -->
        <a class="open" onclick="expandMe(this);" href="#leg_4"><span title="Show walking directions" class="open-text">Details</span><span class="close-text">Close</span></a>
        <div class="description">

            <p class="elevation"><span>
                    Elevation gain: 2.7 feet<br>
                    Elevation loss: -0.0 feet<br>
                    <span class="elevation_txt">Elevation chart</span><span class="elevation_chart">
<img src="http://maps.trimet.org/images/ui/s.gif" alt="dynamic img (requires javascript)" dheight="20" dwidth="100" dsrc="sparkline?points=-7.12,-7.05,-7.05,-6.95,-6.95,-6.61,-6.28,-5.91,-5.51,-5.52,-4.55,-4.46">
</span>
                    </span>
            </p>


            <ol>


                <li>Walk 247 feet south from Southwest 6th Avenue</li>


                <li>Turn right on path</li>
                <li>Walk 15 feet west on path</li>


                <li>Continue 203 feet west on Pioneer Courthouse Square (pedestrian street)</li>
            </ol>


            <div class="maps">
                <p class="walk-start">Start<br>
                    <img src="http://maps.trimet.org/images/ui/s.gif" alt="Map of starting point (300x288)" dheight="288" dwidth="300" dsrc="http://maps.trimet.org/eapi/ws/V1/mapimage/format/png/width/300/height/288/zoom/8/coord/-122.678343268,45.5196588498/extraparams/format_options=layout:start">
                </p>
                <p class="walk-end">End<br>
                    <img src="http://maps.trimet.org/images/ui/s.gif" alt="Map of ending point (300x288)" dheight="288" dwidth="300" dsrc="http://maps.trimet.org/eapi/ws/V1/mapimage/format/png/width/300/height/288/zoom/8/coord/-122.679475,45.519253/extraparams/format_options=layout:end">
                </p>
            </div><!-- end maps -->

        </div><!-- end .description -->
    </div><!-- end .normal/hidden walking directions -->
</li>




<li>
    <div class="step-number"><span>5</span></div>
    <p class="directions">


        <a class="step-time" title="Show schedule for Pioneer Square North MAX Station" href="stop_schedule.html?stop_id=8383&amp;route=100&amp;month=12&amp;day=11"><span>1:16pm</span></a> Board <a class="step-mode" title="Show route map and schedules for this line" href="http://trimet.org/schedules/r100.htm"><img width="0" height="1" class="
step-max-icon" src="/images/triptools/modes.png">MAX Blue Line to Hillsboro</a>

    </p>
</li>

<li>
    <div class="step-number"><span>6</span></div>
    <p><a class="step-time" title="Show schedule for Washington Park MAX Station" href="stop_schedule.html?stop_id=10121&amp;route=100&amp;month=12&amp;day=11"><span>1:27pm</span></a> Get off at <a title="Show more information about this stop" href="stop.html?stop_id=10121&amp;month=12&amp;day=11">Washington Park MAX Station</a> <span class="stopid">Stop ID&nbsp;10121</span></p>
</li>




<li>
    <div class="step-number"><span>7</span></div>
    <p class="directions">


        Walk 711 feet to
        corner of Southwest Zoo Road and parking aisle
    </p>

    <div class="normal"><!-- hidden walking directions and map -->
        <a class="open" onclick="expandMe(this);" href="#leg_7"><span title="Show walking directions" class="open-text">Details</span><span class="close-text">Close</span></a>
        <div class="description">

            <p class="elevation"><span>
                    Elevation gain: 0.0 feet<br>
                    Elevation loss: -5.7 feet<br>
                    <span class="elevation_txt">Elevation chart</span><span class="elevation_chart">
<img src="http://maps.trimet.org/images/ui/s.gif" alt="dynamic img (requires javascript)" dheight="20" dwidth="100" dsrc="sparkline?points=189.44,189.39,189.39,189.28,189.28,188.97,188.97,188.77,188.77,188.02,188.02,187.86,187.86,187.65,187.65,187.43,187.43,187.19,187.19,186.86,186.71,186.71,186.55,186.55,186.24,186.24,184.99,183.73">
</span>
                    </span>
            </p>


            <ol>


                <li>Walk 227 feet east from Washington Park (path)</li>


                <li>Turn right on path</li>
                <li>Walk 34 feet south on path</li>

                <li>Take the elevator to level default level</li>


                <li>Continue 145 feet south on path</li>


                <li>Turn right on Southwest Zoo Road</li>
                <li>Walk 304 feet south on Southwest Zoo Road</li>
            </ol>


            <div class="maps">
                <p class="walk-start">Start<br>
                    <img src="http://maps.trimet.org/images/ui/s.gif" alt="Map of starting point (300x288)" dheight="288" dwidth="300" dsrc="http://maps.trimet.org/eapi/ws/V1/mapimage/format/png/width/300/height/288/zoom/8/coord/-122.717245037,45.5106893991/extraparams/format_options=layout:start">
                </p>
                <p class="walk-end">End<br>
                    <img src="http://maps.trimet.org/images/ui/s.gif" alt="Map of ending point (300x288)" dheight="288" dwidth="300" dsrc="http://maps.trimet.org/eapi/ws/V1/mapimage/format/png/width/300/height/288/zoom/8/coord/-122.71629,45.5097/extraparams/format_options=layout:end">
                </p>
            </div><!-- end maps -->

        </div><!-- end .description -->
    </div><!-- end .normal/hidden walking directions -->
</li>
