<ol id="plannertabs" class="group">
{{#plan.itineraries}}
    {{#selected}}
    <li class="selected">
        <span class="selectedpadding">
    {{/selected}}
    {{^selected}}
    <li class="normal">
        <a href="{{url}}">
        <span>
    {{/selected}}
            <b>{{title}}</b>
            <br>{{date_info.duration_min}} mins, <span class="nobreak">{{transfers_text}}</span>
        </span>
    {{^selected}}
        </a>
    {{/selected}}
    </li>
{{/plan.itineraries}}
</ol>
