<h1>Your Trip on TriMet</h1>
<p class="details-trip"><span><strong>From</strong> {{plan.from.name}}</span></p>
<p class="details-trip"><span><strong>To</strong> {{plan.to.name}}</span></p>

{{>tabs}}

{{#plan.itineraries}}
    {{#selected}}
        {{>fare}}
    {{/selected}}
{{/plan.itineraries}}