body {
  padding: 0;
  margin: 0;
}
html, body {
  height: 90%;
}
#map {
    height: 100%;
    width: 100%;
}
.navbar-brand {
    padding-top: 8px;
}
.navbar-brand > img {
    display: inline;
    padding-right: 5px;
}
.jumbotron {
    padding: 5px 5px;
    margin-top: 25px;
    margin-bottom: 0px;
}
