body {
  padding-top: 81px;
}
.container-fluid {
  padding: 0px;
}
.map {
  padding: 0px;
  height: 80%;
  width: 100%;
}
.ol-attribution {
  max-width: calc(100% - 3em);
}
.ol-attribution li {
  font-size : small;
}

.ol-control button, .ol-attribution, .ol-scale-line-inner {
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
}

.navbar-inverse .navbar-inner {
  background: #084c8d;
}

.brand {
  color: white;
  padding: 1px;
}

span.brand {
  padding-left: 15px;
}


#tags {
  display: none;
}
